// Specific CSS for your home-page
* {
  box-sizing: border-box;
}

body{
  background-color: #fefae0;
  margin: 0;
}

h1{
  padding-bottom: 25px;
}

.components{
  margin-top: 150px;
}

.main-paragraph{
  text-align: center;
  font-size: 25px;
  margin: 20px 60px;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
}

.home-cards{
  display: flex;
  margin-bottom: 20px;
}

.home-container{
  margin: 50px;
  background-color:#fff;
  padding: 5px 50px;
  border-radius: 10px;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}


.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
