// Specific CSS for your home-page
* {
  box-sizing: border-box;
}

body{
  background-color: #fefae0;
  margin: 0;
}

h1{
  padding-bottom: 25px;
}

.main-paragraph {
  text-align: center;
  font-size: 25px;
  background-color: #fff;
  border-radius: 5px;
}

.home-container{
  background-color: #fff;
  border-radius: 10px;
  margin: 45px;
}

.home-cards{
  margin-bottom: 20px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 728px) {
  .home-container {
    margin: 0;
  }
  .container-banner p{
   display: none;
  }
  .main-paragraph p{
     width: 100%;
  }
  .main-paragraph h2{
    margin-bottom: 50px;
  }
  .main-paragraph{
    margin: 0;
    padding: 0;
  }
  .alex-card{
    margin-bottom: 20px;
  }
}
