.home-container-profile{
  background-color: #fff;
  border-radius: 10px;
  margin: 40px;
}

.fixed-profile-show-container{
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container.db-social {
  margin-right: 0 !important;
  margin-left: 0 !important;
  background-size: cover;
  padding: 0px !important;
  max-width: 100%;
}

.db-social .jumbotron {
  margin: 0;
  background: url(https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  color: #fff!important;
  height: 300px;
  position: relative;
  box-shadow: inset 0 0 20px rgba(0,0,0,.3);
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.db-social .head-profile {
  margin-top: -120px;
  border-radius: 4px;
  position: relative;
}

.widget {
  background: #fff;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
}
.has-shadow {
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.db-social .head-profile:before {
  content: "";
  background: rgba(255,255,255,.6);
  height: 20px;
  width: 90%;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
}
.db-social .head-profile:after {
  content: "";
  background: rgba(255,255,255,.3);
  height: 20px;
  width: 80%;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
}
.db-social .widget-body {
  padding: 1rem 1.4rem;
}
.widget-body {
  padding: 1.4rem;
}
.pb-0, .py-0 {
  padding-bottom: 0!important;
}
.db-social .image-default img {
  width: 120px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0 0 6px rgba(255,255,255,1);
  z-index: 10;
}
.db-social .infos {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}
.db-social h2 {
  color: #2c304d;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: .2rem;
}
.db-social .location {
  color: #aea9c3;
  font-size: 1rem;
}
.db-social .follow .btn {
  padding: 10px 30px;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-shadow, .btn-shadow a {
  color: #5d5386;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.15);
}
.db-social .head-profile .actions {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem;
}
.actions {
  z-index: 999;
  display: block;
}
.actions.dark .dropdown-toggle {
  color: #2c304d;
}
.actions .dropdown-toggle {
  color: #98a8b4;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.7rem;
}
.actions .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 1rem;
  border-radius: 4px;
  padding: 1.4rem 1.8rem;
  text-align: left;
  box-shadow: 1px 1px 30px rgba(0,0,0,.15);
}

.actions .dropdown-menu .dropdown-item {
  padding: .5rem 0;
}
.actions .dropdown-menu a {
  color: #2c304d;
  font-weight: 500;
}

.db-social .head-profile li:first-child {
  padding-left: 0;
}
.db-social .head-profile li {
  display: inline-block;
  text-align: center;
  padding: 0 1rem;
}
.db-social .head-profile li .counter {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 600;
}
.db-social .head-profile li .heading {
  color: #aea9c3;
  font-size: 1rem;
}

// CSS Container for both cards

.fixed-profile-show-container-alex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 0;
  padding-top: 30px;
}

.fixed-profile-show-container {
  display: flex;
  flex-direction: row;
  padding: 0;
}

// Profile CSS Green card

.profile-description-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg,
      #4d544c,
      #639438);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 500px;
  width: 412px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.profile-description-card h2 {
  color: #fefae0;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 15px;
}

.profile-description-card p {
  color: #fefae0;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}


// Followers CSS Blue Card

.follower-description-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg,
      #0384fc,
      #03e3fc);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 600px;
  width: 412px;
  margin-left: 30px;
  margin-bottom: 30px;

}


.follower-description-card h2 {
  color: #fefae0;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 35px;
}

.avater-names {
  color: #fff;
  text-align: center;
  margin: 10px;
}

.avatars {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.card-product-infos{
  margin-bottom: 20px
}

.card-product-profile{
  overflow: hidden;
  height: 140px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 100%;

}

.card-product-profile:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.card-product-profile img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product-profile p {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 2px;
  color: black;
}

.card-product-profile .card-product-infos {
  padding: 40px;
}

.heading{
  margin-bottom: 56px;
}
