// Specific CSS for your routes-index
body {
  background-color: #fefae0;
  margin: 0;
}

h1 {
  padding-bottom: 25px;
}

.components {
  margin-top: 100px;
}

.main-paragraph {
  text-align: center;
  font-size: 25px;
  margin: 40px 60px;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
}

.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-container {
  margin: 50px 50px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
}
 .search-container {
   position: relative;
  //  min-width: 500px;
  //  max-width: 500px;
   justify-content: center;
   margin: 50px 120px;
  // display: flex;
 }
