<div class="container-banner" style="background-image: url(https://www.derwenthouse.co.uk/wp-content/uploads/2019/05/Howden-Dam-Upper-Derwent-peak-district.jpg);">
  <div class="banner">
    <h1>My Profile</h1>
  </div>
</div>

<div class="home-container">
  <div class="row">
    <div class="col-sm-4">
      <div class="mx-auto" style="width: 200px;">
        <img class="profile-avatar" src="https://avatars.githubusercontent.com/u/85831958?v=4" />
      </div>
      <div class="mx-auto mt-3" style="width: 200px;">
        <button type="button" class="btn btn-flat">Edit Your Profile 📍</button>
      </div>
    </div>
    <div class="col-sm-8">
      <div>
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <p><%= @user.email %></p>
      </div>
      <div class="mt-5">
        <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">My Friends</div>
          <div class="container">
            <div>
              <ul class="list-unstyled avatars">
                <div>
                  <li><a href="#"><img src="https://avatars.githubusercontent.com/u/86057788?v=4" alt="Ben Avatar" class="friends-avatar"></a></li>
                  <li><a href="#">Ben West</a></li>
                </div>
                <div>
                  <li><a href="#"><img src="https://avatars.githubusercontent.com/u/85034630?v=4" alt="Chiara Avatar" class="friends-avatar"></a></li>
                  <li><a href="#">Chiara Ferrari</a></li>
                </div>
                <div>
                  <li><a href="#"><img src="https://avatars.githubusercontent.com/u/87246548?v=4" alt="Megan Avatar" class="friends-avatar"></a></li>
                  <li><a href="#">Megan Luengo</a></li>
                </div>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div style="width: 21.5em;margin:0 auto;">
    <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">My Routes</div>
    <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">My Notifications</div>
  </div>
</div>
