<div class="container db-social">
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="widget head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                                <ul>
                                    <li>
                                        <div class="counter">0</div>
                                        <div class="heading">Followers</div>
                                    </li>
                                    <li>
                                        <div class="counter">3</div>
                                        <div class="heading">Following</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                                <div class="image-default">
                                    <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/85831958?v=4" alt="...">
                                </div>
                                <div class="infos">
                                    <h2>Steve Daniels</h2>
                                    <div class="location">Holmer Green, Buckinghamshire, U.K</div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                                <div class="follow">
                                    <a class="btn btn-flat" href="#"><i class="la la-user-plus"></i>Edit profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-container-profile">
  <div class="fixed-profile-show-container">
    <div class="show-description-card">
      <h2>Your stats</h2>
      <p>No. of treks: <i class="fas fa-hiking"></i> 1</p>
      <p>Distance traveled: <i class="fas fa-arrows-alt-h"></i> 7.98 mi</p>
      <p>Stairs climbed: <i class="fas fa-shoe-prints"></i> 1,348 steps</p>
    </div>

    <div class="col-8">
      <h2>Completed routes 📍</h2>
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80">
        <div class="card-product-infos">
          <p>Description: </p>
          <p>Notifiction Time: </p>
          <p>Location: </p>
          <p>Latitude: </p>
          <p>Longitude: </p>
        </div>
      </div>
      <h2>Recommended routes 📍</h2>
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1565118531796-763e5082d113?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
        <div class="card-product-infos">
          <p>Name: Grindlow Gaze </p>
          <p>Where: Peak District </p>
          <p>Difficulty: Intermediate </p>
          <p>How long will it take me: 2 hours, 10 minutes </p>
          <p>Route distance: 3.71 mi </p>
        </div>
      </div>
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1494280986787-c49b328829dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
        <div class="card-product-infos">
          <p>Name: Grindlow Gaze </p>
          <p>Where: Peak District </p>
          <p>Difficulty: Intermediate </p>
          <p>How long will it take me: 2 hours, 10 minutes </p>
          <p>Route distance: 3.71 mi </p>
        </div>
      </div>
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1494280986787-c49b328829dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
        <div class="card-product-infos">
          <p>Name: Grindlow Gaze </p>
          <p>Where: Peak District </p>
          <p>Difficulty: Intermediate </p>
          <p>How long will it take me: 2 hours, 10 minutes </p>
          <p>Route distance: 3.71 mi </p>
        </div>
      </div>
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1494280986787-c49b328829dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
        <div class="card-product-infos">
          <p>Name: <strong>Grindlow Gaze</strong></p>
          <p>Where: <strong>Peak District</strong></p>
          <p>Difficulty: <strong>Intermediate</strong></p>
          <p>How long will it take me: <strong>2 hours, 10 minutes</strong></p>
          <p>Route distance: <strong>3.71 mi</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-container">
  <div style="width: 21.5em;margin:0 auto;">
  <div>
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <p><%= @user.email %></p>
  </div>
  <div class="mt-5">
    <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">My Friends</div>
      <div class="container">
        <div>
          <ul class="list-unstyled avatars">
            <div>
              <li><a href="#"><img src="https://avatars.githubusercontent.com/u/86057788?v=4" alt="Ben Avatar" class="friends-avatar"></a></li>
              <li><a href="#">Ben West</a></li>
            </div>
            <div>
              <li><a href="#"><img src="https://avatars.githubusercontent.com/u/85034630?v=4" alt="Chiara Avatar" class="friends-avatar"></a></li>
              <li><a href="#">Chiara Ferrari</a></li>
            </div>
            <div>
              <li><a href="#"><img src="https://avatars.githubusercontent.com/u/87246548?v=4" alt="Megan Avatar" class="friends-avatar"></a></li>
              <li><a href="#">Megan Luengo</a></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">My Routes</div>
    <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">My Notifications</div>
  </div>
</div>
