<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/#"> Trek 📍 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Explore</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if !user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">Sign In</a>
      </li>
      <% end %>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <a class="dropdown-item" href="/">Explore</a>
            <a class="dropdown-item" href="/">Start a Trek</a>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
