.avatar {
  width: 40px;
  border-radius: 50%;
  border: white 2px solid;
}

.profile-avatar {
  width: 150px;
  border-radius: 50%;
  border: white 2px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.friends-avatar {
  width: 80px;
  border-radius: 50%;
  border: white 2px solid;
}
