.card-location{
  margin-top: 50px;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
}
.card-location a {
  color: inherit;
  text-decoration: none !important;
}

.card-location:hover{
  box-shadow: 0 0 20px rgba(10, 10, 0, 10.2);
}

.card-profile {
  margin-top: 50px;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

x
.bottom-cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin: 50px;
   background-color: #fff;
}

.alex-card {
  background: linear-gradient(45deg,
   #4d544c,
   #639438);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
}

.alex-card:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.alex-card h2{
text-align: center;
color: #fefae0;
}

.alex-card p {
  margin-top: 20px;
  text-align: center;
  color: #fefae0;
}

.btn-booking {
  color: #639438;
  background-color: #fefae0;
  border-radius: 50px;
  padding: 10px 100px 10px 100px;
  font-weight: bold;
  margin-top: 50px;
}

.alex-content{
display: flex;
flex-direction: column;
margin-top: 50px;
margin-bottom: 50px;
}

.btn-booking:hover{
  text-decoration: none;
  color: #603e35;
}
