.w-100 {
  width: 100% !important;
  height: 75vh;
}
.btn-large {
  color: #0b0b0b;
  padding: 12px 28px;
  border-radius: 4px;
  background: linear-gradient(45deg,
      #d8a47f,
      #d1b39e);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  color: white;
  background: linear-gradient(45deg,
      #603e35,
      #d9905b);
}
