.footer {
  background-color: #603e35;
  // background: linear-gradient(70deg,
  //   #603e35,
  //   #275624);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: #fff;
  width: 100%;
  margin-top: 40px;
  border-radius: 30px 30px 0 0;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #fff;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
