.mapboxgl-popup {
  width: 200px;
  height: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  height: 400px;
  width: 400px;
  width: 100%;
}

#map3d {
  height: 250px;
  width: 250px;
}
