.navbar-lewagon {
  // background-color: #275624;
<<<<<<< HEAD
  background: linear-gradient(
    180deg,
    #275624,
    #639438
    );
=======
  // background: linear-gradient(
  //   170deg,
  //   #275624,
  //   #639438
  //   );
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
>>>>>>> 6c6832f8d485a462cf24b7575e9f761df5a306f1
  padding: 18px;
  position: absolute;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: space-between;
  width: 100%;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.nav-link {
  color: #fff !important;
}
