.navbar-lewagon {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding: 18px;
  position: fixed;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: space-between;
  width: 100%;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.nav-link {
  color: #fff !important;
}
