.navbar-lewagon {
  // background-color: #275624;
  // background: linear-gradient(
  //   170deg,
    // #275624,
    // #639438
    // );
    background-color: transparent;
  padding: 18px;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: space-between;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #fff !important;
}
